<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
    <head> 
        <title>Getting Started: Serving Web Content</title> 
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

        <!-- flowplayer depends on jQuery 1.7.1+ (for now) -->
        <script src="/js/jquery-2.1.4.min.js" type="text/javascript"></script>
        <link href="/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
        <!-- flowplayer.js -->
        <script src="/js/mediaelement-and-player.min.js" type="text/javascript"></script>
        <link href="/css/style.css" rel="stylesheet" type="text/css"/>
        <script src="/js/bootstrap.min.js" type="text/javascript"></script>
        <!-- player styling -->

    </head>
    <body>

        <div class="container text-center">

            <div style="margin-top: 100px"></div>

            <iframe src="https://drive.google.com/file/d/1V3FxfT0qcIshzEvzlKJIDf-y3m7ojuV2/preview" width="640" height="480"></iframe>
            <div style="margin-top: 100px"></div>
            <iframe src="https://drive.google.com/file/d/13odC8TK2Q8IKR7xMnAfUPVgSGbGHrw9m/preview" width="640" height="480"></iframe>
            <div style="margin-top: 100px"></div>
            <iframe src="https://drive.google.com/file/d/1aqBiMrHJjCOvw3cvzHVNmMJMQpGuSU8G/preview" width="640" height="480"></iframe>
            <div style="margin-top: 100px"></div>
            <iframe src="https://drive.google.com/file/d/1FSxFTDiPkPDywjuCQZTaEgKJdDnvkAQp/preview" width="640" height="480"></iframe>


        </div>


    </body>
</html>
